<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title} ?: 'Детали Поста'">Детали Поста</title>
</head>
<body>

<a th:href="@{/}">Вернуться к списку постов</a>

<h1 th:text="${post.title}">Заголовок Поста</h1>
<div style="white-space: pre-wrap;" th:text="${post.content}">
    Полное содержание поста...
</div>

<div th:if="${post.author != null and #authorization.expression('isAuthenticated()') and (#authorization.expression('hasRole(''ADMIN'')') or #authentication.name == post.author.username)}">
    <form th:action="@{/post/{id}/edit(id=${post.id})}" method="get" style="display:inline;">
        <button type="submit" class="btn btn-primary">Редактировать</button>
    </form>
    <form th:action="@{/post/{id}/delete(id=${post.id})}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
</div>
</body>
</html>