<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>

<h1>Регистрация нового пользователя</h1>

<div th:if="${param.error}" style="color: red;">
    Ошибка регистрации. Возможно, пользователь с таким именем уже существует.
</div>

<form th:action="@{/register}" th:object="${userDto}" method="post">
    <div>
        <label for="username">Имя пользователя:</label><br>
        <input type="text" id="username" th:field="*{username}" required>
    </div>
    <br>
    <div>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <br>
    <div>
        <button type="submit">Зарегистрироваться</button>
    </div>
</form>

<br>
<a th:href="@{/login}">Уже есть аккаунт? Войти</a>
<br>
<a th:href="@{/}">Вернуться к списку постов</a>

</body>
</html>