<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <style>
        .error {
            color: red;
            font-size: 0.9em;
            margin-top: 5px;
        }
    </style>
</head>
<body>

<h1>Регистрация нового пользователя</h1>

<div th:if="${param.error}" style="color: red;">
    Ошибка регистрации. Возможно, пользователь с таким именем уже существует.
</div>

<div th:if="${registrationError}" style="color: red;">
    <p th:utext="${registrationError}"></p>
</div>

<form th:action="@{/user/register}" th:object="${userDto}" method="post">
    <div>
        <label for="username">Имя пользователя:</label><br>
        <input type="text" id="username" th:field="*{username}" required>
        <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <br>
    <div>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" th:field="*{password}" required>
        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <br>
    <div>
        <button type="submit">Зарегистрироваться</button>
    </div>
</form>

<br>
<a th:href="@{/user/login}">Уже есть аккаунт? Войти</a>
<br>
<a th:href="@{/}">Вернуться к списку постов</a>

</body>
</html>